packages/svelte2tsx/*.d.ts
packages/svelte2tsx/test/*/samples/*/*sx
packages/svelte2tsx/test/*/samples/*/*.svelte
packages/svelte2tsx/test/sourcemaps/*.html
packages/language-server/test/**/*.svelte
packages/svelte-vscode/syntaxes/*.yaml
.github/**
