packages/svelte2tsx/*.d.ts
packages/svelte2tsx/repl/*
packages/svelte2tsx/*.js
packages/svelte2tsx/*.mjs
packages/svelte2tsx/test/*/samples/**/*
packages/svelte2tsx/test/sourcemaps/samples/*
packages/svelte2tsx/test/emitDts/samples/*/expected/**
packages/language-server/test/**/*.svelte
packages/language-server/test/**/testfiles/**/*.ts
packages/svelte-vscode/syntaxes/*.yaml
packages/svelte-vscode/test/*/samples/**/*
packages/typescript-plugin/src/**/*.js
packages/typescript-plugin/src/**/*.d.ts
**/dist
.github/**
.history/**
pnpm-lock.yaml