name: CI
on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          # cache: pnpm

      # Get projects set up
      - run: pnpm install --force
      - run: pnpm bootstrap
      - run: pnpm build

      # Run any tests
      - run: pnpm test
        env:
          CI: true

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: pnpm

      # Get projects set up
      - run: pnpm install
      - run: pnpm lint
