name: Tagged Production Deploys for svelte2tsx

on:
  push:
    tags:
      - "svelte2tsx-*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          cache: pnpm

      # Ensure everything is compiling
      - run: "pnpm install"
      - run: "pnpm build"

      # Lets us use one-liner JSON manipulations the package.json files
      - run: "npm install -g json"

      # Setup the environment
      - run: 'json -I -f packages/svelte2tsx/package.json -e "this.version=\`${{ github.ref }}\`.split(\`-\`).pop()"'

      # Ship it
      - run: |
          cd packages/svelte2tsx
          pnpm install
          pnpm publish

        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
