name: Tagged Production Deploys for VS Code

on:
  push:
    tags:
      - "extensions-*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          cache: pnpm

      # Ensure everything is compiling
      - run: "pnpm install"
      - run: "pnpm build"
      - run: "pnpm bootstrap"

      # Lets us use one-liner JSON manipulations the package.json files
      - run: "npm install -g json"

      # Setup the environment
      - run: json -I -f packages/svelte-vscode/package.json -e "this.version=\`${{ github.ref }}\`.split(\`-\`).pop()"

      # To deploy we need isolated node_modules folders which pnpm won't do because it is a workspace
      # So, remove the workspace
      - run: "rm package.json pnpm-workspace.yaml pnpm-lock.yaml" # Re-run the  pnpm install outside of the workspace
      # ... and remove the workspace:* references
      - run: json -I -f packages/svelte-vscode/package.json -e 'this.dependencies["svelte-language-server"]="*"'
      - run: json -I -f packages/svelte-vscode/package.json -e 'this.dependencies["typescript-svelte-plugin"]="*"'

      - run: |
          cd packages/svelte-vscode
          npm install

          # Just a hard constraint from the vscode marketplace's usage of azure tokens
          echo "Once a year this expires, tell Orta to access https://dev.azure.com/ortatherox0608/_usersSettings/tokens (logging in with GitHub) to get a new one"

          # Ship it
          npx vsce publish -p $VSCE_TOKEN
          npx ovsx publish -p $OVSX_TOKEN

        env:
          VSCE_TOKEN: ${{ secrets.AZURE_PAN_TOKEN }}
          OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
